{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Kependudukan</title>
<link rel="stylesheet" href="{% static 'css/kependudukan.css' %}">
{% endblock meta %}

{% block content %}
<h1>Kependudukan</h1>
<br>

<div class="logged-in">
    <h2>Layanan request bikin KTP dan penjadwalan sesi foto</h2>
    <a href="{% url 'kependudukan:show_request_ktp' %}"><button class="btn btn-outline-secondary my-btn">Buat request</button></a>
</div>
<br>

<h2>Daftar Kelurahan</h2>

<h3>Kecamatan Beji</h3>
<div id="kec-beji">
    {% for kelurahan in beji %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Pancoran Mas</h3>
<div id="kec-pancoran-mas">
    {% for kelurahan in pancoran_mas %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Cipayung</h3>
<div id="kec-cipayung">
    {% for kelurahan in cipayung %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Sukmajaya</h3>
<div id="kec-sukmajaya">
    {% for kelurahan in sukmajaya %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Cilodong</h3>
<div id="kec-cilodong">
    {% for kelurahan in cilodong %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Limo</h3>
<div id="kec-limo">
    {% for kelurahan in limo %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Cinere</h3>
<div id="kec-cinere">
    {% for kelurahan in cinere %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Cimanggis</h3>
<div id="kec-cimanggis">
    {% for kelurahan in cimanggis %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Tapos</h3>
<div id="kec-tapos">
    {% for kelurahan in tapos %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Sawangan</h3>
<div id="kec-sawangan">
    {% for kelurahan in sawangan %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Kecamatan Bojong Sari</h3>
<div id="kec-bojong-sari">
    {% for kelurahan in bojong_sari %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{kelurahan.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{kelurahan.address}}</h6>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{% static 'script/kependudukan.js' %}"></script>
{% endblock content %}