{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Kependudukan</title>
{% endblock meta %}

{% block content %}
<h1>Kependudukan</h1>
<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#add-modal" data-bs-whatever="@mdo">Isi Form</button>
<div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Form Permohonan KTP</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="task-form" method="POST" action="/todolist/add/">
            {% csrf_token %}
            {{ form.as_table }}
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="task-title" name="title">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description:</label>
              <input type="text" class="form-control" name="description" id="task-desc">
            </div>
          </form>
        </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" id="add-task-btn" data-bs-dismiss="modal">Kirim</button>
        </div>
      </div>
    </div>
</div>

<div id="no-request">
    <h6>Belum ada permohonan pembuatan KTP</h6>
</div>

{% for request in requests %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Request</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{request}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endfor %}

{% endblock content %}