{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Kependudukan</title>
<link rel="stylesheet" href="{% static 'css/kependudukan.css' %}">
<script src="{% static 'script/request_ktp.js' %}"></script>
{% endblock meta %}

{% block content %}
<h1>Kependudukan</h1>
<button type="button" class="btn btn-outline-secondary my-btn" data-bs-toggle="modal" data-bs-target="#add-modal" data-bs-whatever="@mdo">Isi Form</button>
<div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Form Permohonan KTP</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="request-ktp-form" method="POST" action="{% url 'kependudukan:add_request' %}">
            {% csrf_token %}
            {{ form.as_table }}
          </form>
        </div> 
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary my-btn" id="add-request" data-bs-dismiss="modal">Kirim</button>
        </div>
      </div>
    </div>
</div>

<div id="no-request">
    <h6>Belum terdapat permohonan pembuatan KTP</h6>
</div>

<div class="requests-card-container">
<!-- {% for request in requests %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Request</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{request.requested_at}}</h6>
      <p class="card-text">provinsi: {{request.provinsi}}</p>
      <p class="card-text">kota: {{request.provinsi}}</p>
      <p class="card-text">kecamatan: {{request.provinsi}}</p>
      <p class="card-text">kelurahan: {{request.provinsi}}</p>
      <p class="card-text">permohonan: {{request.provinsi}}</p>
    
      <p class="card-text">nama_lengkap: {{request.provinsi}}</p>
      <p class="card-text">nomor_kk: {{request.provinsi}}</p>
      <p class="card-text">nik: {{request.provinsi}}</p>
      <p class="card-text">alamat: {{request.provinsi}}</p>
    
      <p class="card-text">rt: {{request.provinsi}}</p>
      <p class="card-text">rw: {{request.provinsi}}</p>
      <p class="card-text">kode_pos: {{request.provinsi}}</p>
    
      <p class="card-text">nomor_hp: {{request.provinsi}}</p>
    
      <p class="card-text">schedule_date: {{request.provinsi}}</p>
      <p class="card-text">schedule_time: {{request.provinsi}}</p>
    </div>
</div>
{% endfor %} -->
</div>
<script type="text/javascript">
  const url_post = "{% url 'kependudukan:add_request' %}";
  const form_fields = {{ form_fields|safe }};
</script>
{% endblock content %}