{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Daftar Faskes</title>
  <link rel="shortcut icon" href="https://dinkes.depok.go.id/assets/img/icon/hospital%20(4).png">
  
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
        $.getJSON("{% url 'kesehatan:health-facility-json' %}", function(data) {
          $.each(data, function(index, value) {
            console.log(value)
            $("#facilityTableContents").append(`
            <tbody>
              <tr id="contentTable">
                  <td style="width: 20%;">${value.fields.name} </td>
                  <td style="width: 45%;">${value.fields.address} </td>
                  <td style="width: 20%;">${value.fields.phone_number} </td>
                  <td style="width: 15%;"><a href="${value.fields.address_url}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Lihat Peta</a><td>
              </tr>
            </tbody>`
          )
        })
      })
      })
      </script>

      <style>
        #facilityTable{
          margin-top: 2%;
          margin-bottom: auto;
          margin-left: 3%;
          margin-right: 3%; 
          justify-content: center;   
          align-items: center;  
        }
      </style>

  </head>
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Depok Smart City</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>        
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello, {{user.get_username}}!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'homepage:logout' %}">Logout</a></li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="min-vh-100" style="background-color: #dbe2ef; margin: auto;">
      <div class="container py-5 h-100">
          <div id="registrationCard" class="d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-8">

                <div class="container" id = "facilityTable" >
                  <table class="table table-stripped table-hover table-dark table-bordered">
                    <thead>
                      <tr id="headerTable">
                        <th style="width: 20%;">Nama</th>
                        <th style="width: 44%;">Alamat</th>
                        <th style="width: 20%;">Nomor Telepon</th>
                        <th style="width: 18%;">Peta Alamat</th>
                      </tr>
                    </thead>
                  </table>
              
                </table>
                <table class="table table-stripped table-hover table-bordered" id = "facilityTableContents" style="background-color:white">
              
                </div>
              </div>
          </div>
      </div>
  </div>
  

{% endblock content %}