{% extends 'base.html' %}

{% block meta %}
<title>Layanan Kesehatan</title>
<link rel="shortcut icon" href="https://dinkes.depok.go.id/assets/img/icon/stethoscope%20(1).png">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--Embedded Javascript-->
    <script>
    $(document).ready(function(){
      $.getJSON("{% url 'kesehatan:appointment-json' %}", function(data) {

        if (data.length == 0){
          $("#appointmentCard").append(`
          <div class="card shadow bg-body rounded text-center zoom">
            <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Belum ada pertemuan 
            </div>
            <div class="image-box card-bg-rv">
              <div class="card responsive-card mx-2 my-2">
                <div class="card-body card-bg-rv">
                  <p class="card-text"> Silahkan buat pertemuan terlebih dahulu </p>
                  <a class="btn btn-outline-success btn-sm btn-block" type="submit" href="{% url 'kesehatan:create-appointment' %}">Buat</a>
                </div>
              </div>
            </div>
          </div>`
          )

        }else{
          $.each(data, function(index, value) {
            $("#appointmentCard").append(`
            <div class="card shadow bg-body rounded text-center zoom">
              <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Fasilitas Kesehatan : ${value.fields.facility_name} 
              </div>
              <div class="image-box card-bg-rv">
                <div class="card responsive-card mx-2 my-2">
                  <div class="card-body card-bg-rv">
                    <p class="card-text"> Tanggal : ${value.fields.date} </p>
                    <p class="card-text"> Waktu : ${value.fields.timeslot} </p>
                    <a class="btn btn-danger btn-md btn-block" type="submit" href="/kesehatan/delete-appointment/${value.pk}">Hapus</a>
                  </div>
                </div>
              </div>
            </div>`
          )
          })
        }
      })
    
      .fail(function(){
        $("#appointmentCard").append(`
        <div class="card shadow bg-body rounded text-center zoom">
          <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Belum ada pertemuan 
          </div>
          <div class="image-box card-bg-rv">
            <div class="card responsive-card mx-2 my-2">
              <div class="card-body card-bg-rv">
                <p class="card-text"> Silahkan buat pertemuan terlebih dahulu </p>
                <a class="btn btn-outline-success btn-sm btn-block" type="submit" href="{% url 'kesehatan:create-appointment' %}">Buat</a>
              </div>
            </div>
          </div>
        </div>`)
      })
    })

    </script>

    <!--Internal CSS-->
    <style>
      .carousel-caption{
        margin-bottom: auto;
        margin-top: auto;
        margin-right: 40%;
        align-items: flex-start;
      }

      #daftarAppointmentLabel{
        margin-left: 10%;
        margin-right: 10%;
      }

      .carouselDark{
        margin-top: 3%;
      }

      #containerAll{
        padding-top: 3%;
      }

      .zoom:hover{
        transform: scale(1.03);
      }
    </style>

</head>
{% endblock meta %}

{% block content %}
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #063547;">
    <div class="container">
      <a class="navbar-brand" style="color: white;" href="{% url 'homepage:index' %}">Depok Smart City</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>        
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello, {{user.get_username}} !
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'homepage:logout' %}">Logout</a></li>
          </li>

          {% else %}
          <li class="nav-item active">
            <a class="nav-link pl-lg-0" style="color: white;" href="{% url 'homepage:login' %}"> Login </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
<!--Navbar End-->

<div class="min-vh-100" style="background-color: #dbe2ef; margin: auto;">
<!--Carousel Start-->
<div class="container" id="containerAll">
  <div id="carouselDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval= 2500>
          <img src="https://cms.depok.go.id/upload/slider/389432a1026c197418379f753fb9e087.jpg" class="d-block w-100" style="border-radius: 0.5rem;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Registrasi Online</h5>
            <p>Registrasi Online dan Jadwalkan Konsultasi lebih cepat</p>
            <a class="btn btn-success btn-md btn-block" type="submit" href="{% url 'kesehatan:registrasi' %}">Selengkapnya</a>
          </div>
        </div>
        <div class="carousel-item active" data-bs-interval= 2500>
          <img src="https://cms.depok.go.id/upload/slider/b091b715bbd5556e9ce1a1306132b3cb.png" class="d-block w-100" style="border-radius: 0.5rem;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Daftar Fasilitas Kesehatan</h5>
            <p>Cek daftar Puskesmas dan Rumah sakit tujuanmu dengan alamat lengkap dan narahubung.</p>
            <a type="submit" class="btn btn-success  btn-md btn-block" href="{% url 'kesehatan:health-facility' %}">Selengkapnya</a>
          </div>
        </div>
        <div class="carousel-item active" data-bs-interval= 2500>
          <img src="https://cms.depok.go.id/upload/slider/d75e287d3df9e4cc99f345d3cafd446e.jpg" class="d-block w-100" style="border-radius: 0.5rem;">
          <div class="carousel-caption d-none d-md-block">
            <h5>Jadwalkan Konsultasi</h5>
            <p>Jadwalkan Konsultasi dan Cek Antrian RSUD dan Puskesmas</p>
            <a class="btn btn-success btn-md btn-block" type="submit" href="{% url 'kesehatan:create-appointment' %}">Selengkapnya</a>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sebelumnya</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Selanjutnya</span>
      </button>
    </div>
</div>
<!--Carousel End-->

<!--Layanan Kesehatan Card Start-->
<div class="row g-3 justify-content-center mt-4">
  <div class="col-md-3">
  <div class="card shadow bg-body rounded text-center zoom">
    <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Registrasi Online </div>
    <div class="image-box card-bg-rv">
      <div class="image-box px-4 py-4">
        <img src="https://dinkes.depok.go.id/assets/img/icon/regis.png" height="100"></img>
      </div>
      
      <div class="card responsive-card mx-2 my-2">
      <div class="card-body card-bg-rv">
        <p class="card-text"> Mempercepat kinerja pelayanan Puskesmas dan Rumah Sakit dalam segi Pendataan Pasien.</p>
        <a class="btn btn-outline-success btn-md btn-block" type="submit" href="{% url 'kesehatan:registrasi' %}">Registrasi</a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card shadow bg-body rounded text-center zoom">
    <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Jadwalkan Konsultasi </div>
    <div class="image-box card-bg-rv">
      <div class="image-box px-4 py-4">
        <img src="https://dinkes.depok.go.id/assets/img/icon/dokter.png" height="100"></img>
      </div>
      
      <div class="card responsive-card mx-2 my-2">
      <div class="card-body card-bg-rv ">
        <p class="card-text"> Jadwalkan Konsultasi dan Cek Antrian RSUD dan Puskesmas.</p>
        <a class="btn btn-outline-success btn-md btn-block" type="submit" href="{% url 'kesehatan:create-appointment' %}">Buat</a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card shadow bg-body rounded text-center zoom">
    <div class="card-header" style="text-align:left; background-color:#063547; color: white;"> Daftar Fasilitas Kesehatan</div>
    <div class="image-box card-bg-rv">
      <div class="image-box px-4 py-4">
        <img src="https://dinkes.depok.go.id/assets/img/icon/hospital%20(4).png" height="100"></img>
      </div>
      
      <div class="card responsive-card mx-2 my-2">
      <div class="card-body card-bg-rv">
        <p class="card-text"> Cek daftar Puskesmas dan Rumah sakit tujuanmu dengan alamat lengkap dan narahubung.</p>
        <a class="btn btn-outline-success btn-md btn-block" type="submit" href="{% url 'kesehatan:health-facility' %}"> Selengkapnya </a>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<!--Layanan Kesehatan Card End-->

<!--Daftar Appointment Start-->
<div class="d-block mt-5 py-1 shadow rounded" style="background-color: #063547;" id="daftarAppointmentLabel" >
  <ul class="pt-3 px-5">
    <li style="font-size: 170%; color: white;">
      Daftar Konsultasi Anda
    </li>
  </ul>
  
</div>
<div class="d-flex flex-wrap justify-content-center align-items-center gap-5 container py-4" id = "appointmentCard">
</div>
<!--Daftar Appointment End-->
</div>

{% endblock content %}
