{% extends 'base.html' %}
{% load static %}


{% block content %}
<nav class="navbar" style="background-color: #90ee90;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Welcome! {{user}}</span>
      <a class="btn btn-info" href="{% url 'homepage:logout' %}" role="button">Logout</a>
    </div>
  </nav>
    <section id="aspirasi">

        <div class="row">
            <div class="col">
                <h2 class="text-center text-dark font-weight-bold my-5">Aspirasi</h2>
            </div>
        </div>
        
        
        <div style="display:inline-flex">
            <div class="col-md-4 d-flex p-0 flex-column align-items-center" style="margin-right:225px;margin-left:280px">
                <div style="background: #ADD8E6; border-radius: 24px; padding-right:20px; width:380px;padding-left:20px;padding-top:20px;padding-bottom:20px" >
                    <div class="col m-2">
                        {% if request.user.is_authenticated %}
                            <!-- form aspirasi -->
                            <form method="POST" id="postAspirasi" >
                                <p class="w-100 justify-content-center my-1">Halo, <span style="color: #67809F;">{{ user }}</span>!</p>
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" value="Submit" onclick="addAspirasi()" class="tombol btn btn-primary mx-auto my-2">
                                    Submit
                                </button>
                            </form>
                        {% else %}
                            <p class="w-100 justify-content-center my-1"">Halo, <span style="color: #67809F;">Pendatang</span>!</p>
                            <form action="{% url 'homepage:login' %}">
                            <button type="submit" class="tombol btn btn-primary mx-auto my-2">Login</button>
                            </form>

                            
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-8 p-0" style="max-height: 100%;text-align: center;">
              <p>
              <div id="output" style="background: #ADD8E6; border-radius: 24px; padding-right:20px; height:600px;width:700px;padding-left:20px;padding-top:20px;padding-bottom:20px;overflow-x: auto;">
            
              <!-- output testimoni -->
              </div>
          </div>
        
        </div>




    </section>
   
    <script src="{% static 'js/aspirasi.js' %}"></script>
    <script>
      refreshAspirasi()
    </script>
{% endblock content %}

