
{% extends 'base.html' %}

{% block content %}
<nav class="navbar" style="background-color: #90ee90;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Welcome! {{user}}</span>
      <a class="btn btn-info" href="{% url 'homepage:logout' %}" role="button">Logout</a>
    </div>
  </nav>
    <section id="aspirasi">

        <div class="row">
            <div class="col">
                <h2 class="text-center text-dark font-weight-bold my-5">Aspirasi</h2>
            </div>
        </div>
        
        <div id="ajax-cards"></div>

            <div class="col-md-4 d-flex p-0 flex-column align-items-center">
                <div class="row w-75" style="background: #ADD8E6; border-radius: 24px;">
                    <div class="col m-2">
                        {% if request.user.is_authenticated %}
                            <!-- form aspirasi -->
                            <form method="POST" action="add/" id="postAspirasi" >
                                <p class="w-100 justify-content-center my-1">Halo, <span style="color: #67809F;">{{ user }}</span>!</p>
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" value="Submit" id=addaspirasibutton class="tombol btn btn-primary mx-auto my-2">
                                    Submit
                                </button>
                            </form>
                        {% else %}
                            <p class="w-100 justify-content-center my-1">Halo, <span style="color: #67809F;">Pendatang</span>!</p>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div>
                <div id="output">
                <!-- output aspirasi -->
                </div>
            </div>


    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
 async function getAspirasi(){
   return fetch("{% url 'aspirasi:show_json' %}").then((res) => res.json())
 }

 async function refreshAspirasi(){
   document.getElementById("ajax-cards").innerHTML = ""
   const aspirasi = await getAspirasi()
   let htmlString = ``
   aspirasi.forEach(item=> {
     htmlString+=`\n
     <div class = "cards" >
       <p>
       <span class="nowrap">${item.fields.aspirasi}</span>
       </p>
     </div>
     `
   });
   document.getElementById("ajax-cards").innerHTML = htmlString
 }
 
 async function addAspirasi() {
   fetch("{% url 'aspirasi:add_aspirasi_ajax' %}", {
         method: "POST",
         body: new FormData(document.querySelector('#postAspirasi'))
     }).then(refreshAspirasi)
   return false
 }

 document.getElementById("addaspirasibutton").onclick = addAspirasi

 refreshAspirasi()

</script>
{% endblock %}

