{% extends 'base.html' %}


{% block meta %}
<script>window.CSRF_TOKEN = "{{ csrf_token }}"</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock meta %}

{% block content %}

<script>
  $(document).ready(function()  {
    showCard();
  });

  async function getData() {
    return fetch("{% url 'restaurants:json' %}").then((res) => res.json())
  }
  
  async function showCard() {
    const panel = document.getElementById("panel");
    const list = await getData()
    let cards = ``
    list.forEach((item) => {
      cards+=`
      <div class="col-12 col-md-6 col-lg-4 py-2">
        <div class="card .bg-dark .bg-gradient rounded">
          <div class="card-body">
            <img src="${item.fields.img}" class="card-img-top" alt="...">
              <h5 class="card-title">${item.fields.name}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${item.fields.rating}</h6>
              <p class="card-text">${item.fields.lokasi}</p>
              <p class="card-text"></p> 
              <button class="btn btn-primary" onclick="detail(${item.pk})">more</button>
          </div>
        </div>
      </div>
      `;
    });

    panel.innerHTML = cards;

  }




  async function detail(id){
    const list = await getData()
    const detailCard = document.getElementById("detail");
    detailCard.innerHTML = "";
    detailCard.style.transform = "scale(1)";
    panel.style.opacity = 1;
    panel.style.opacity = 0.5;
    detailCard.style.opacity = 1;
    let detail_div = ``

    list.forEach((item) => {
      if(item.pk == id) {
        detail_div = `
        <div class="w-100">
          <span class="close float-end" onclick="closeDetail()">&times;</span>
        </div>

        <div class="col-md-3 border-end p-4">
          <img class="w-100" src="${item.fields.img}" alt="..."/>
          <div class="">
            <h2 class="display-6 text-center">${item.fields.name}</h2>
            <h2 class="display-6 text-center">${item.fields.rating}</h2>
          </div>
        </div>

        <div class="col-md-9">
          <h1 class="display-6 mt-2"><b>Deskripsi</b></h1>
          <br>
          <h1 class="display-6 mt-2"><b>Lokasi</b></h1>
          <br>
          <h1 class="display-6 mt-2"><b>Ulasan</b></h1>
          <div class="container-fluid py-2 rounded">
            <div class="d-flex flex-column flex-nowrap">
              <div class="card card-body">Card</div>
              <div class="card card-body">Card</div>
              <button class="btn btn-secondary" onclick="">See More</button>
            </div>
          </div>
        `;
        
      }
    })
    detailCard.innerHTML = detail_div;
  }

  function closeDetail(){
    const detailCard = document.getElementById("detail");
    const panel = document.getElementById("panel");
    detailCard.style.transform = "scale(0)";
    detailCard.style.opacity = 0;
    panel.style.opacity = 1;
  }
</script>

<style>

    .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      padding: 14px 80px 18px 36px;
      cursor: pointer;
    }

    .card:hover{
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    .container-fluid{
      background-color: azure;
    }

    body {
            overflow-x: hidden;
            background-color: #DBE2EF;
        }

    #panel{
      transition: .5s;
    }

    #detail{
      height: 600px;
      background-color: rgb(255, 255, 255);
      box-shadow: 10px 10px 20px -10px rgba(158, 158, 158, 0.644);
      border-radius: 30px;
      transform: scale(0);
      transition: .5s;
      position: absolute;
      top: 40px;
      left: 10%;
      width: 80%;
      opacity: 1;
    }

    .close{
      font-size: 30px;
      cursor: pointer;
    }

    /* .card{
      transition: .5s;
      transform: translate(0px, 0px);
    }

    .card:hover{
      box-shadow: 10px 10px 40px -20px rgb(98, 98, 98);
      transform: translate(-5px,-5px);
    } */
</style>



<br><br><br><br><br>

<div>
    
  <div>
    <h1 class="display-4 my-4 text-center">Catalog</h1>
  </div>

  <div class="container">
    <div class="row" id="panel">

    </div>

    <div class="row d-flex flex-wrap align-content-center p-3 border" id="detail">

    </div>
  </div>

</div>






{% endblock content %}

